:root {
  --primary-color: #6fcb9f;
  --black-color: #282828;
  --white-color: #E3E3E3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: black; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }

  .press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .logo {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #00bcd4;
  }

  .aboutMe button {
    color: black;
    font-family: poppins;
    font-size: 200%;
    margin-top: 1%;
    margin-left: 15%; /* Moves the entire button to the right */
  }
  .aboutMe h1 {
    font-size: 400%;
    padding-left: 15%;
    font-family: poppins;
    font-weight: 400;
    padding-top: 15%;
    color: var(--primary-color);
  }
  .aboutMe p {
    padding-left: 15%;
    padding-top: 1%;
    font-family: poppins;
    font-size: 200%;
    color: var(--primary-color);
  }
  .side {
    display: flex;
    gap: 2rem;
  }
  .side img {

    width: 200px;
    height: 200px;
    object-fit: cover; /
  }